body {
    background: rgb(139, 98, 98);
    margin-left: 20px;
    margin-right: 300px;
}

h1 {
    color: red;
    font-family: fantasy;
}

h2 {
    font-family: fantasy;
}

p {
    font-size: 18px;
}

header {
    margin-top: 70px;
}

.img_padrao {
    margin-bottom: 20px;
    width: 300px;
}

footer {
    margin-bottom: 30px;
}

.logo {
    width: 50px;
}